body {
background-image: linear-gradient(to bottom right, #FDF0F6,#F0FAFD );
font-family: "Times New Roman", Times, serif;
background-repeat: no-repeat;
}

#container{
   width:1020px;
    margin: 0 auto;   
}



header{
	background-color: #E6BBCD;
	width:1000px;
	height:50px;
    text-align: center;
    text-decoration:underline;
    color: #365967;
}

#navigation{
  list-style-type:none;
  margin: 0;
  padding: 0;
overflow: hidden; 
  background-image: linear-gradient(to bottom right, #FBDFEB,#A06A92 );
width:1000px;
height: 50px;
}

li {
  float:left;
}

li a {
  display: block;
  color:#365967;
  text-align: center;
  padding:20px 20px;
  text-decoration:none;
}

li a:hover {
  background-color: #6A4365;
}

#younger{
    width:333.3px;
    height:100px;
    background-color: #E0F6FF;
    float:left;
}
#quinceanera{
    width:333.3px;
    height:100px;
    background-color: #6CB2CE;
    float:left;
}
#collection{
    width:333.3px;
    height:100px;
    background-color: #E0F6FF;
    float:left;
}

footer{
	background-color:#E6BBCD;
	width:1000px;
	height:50px;
    text-align: center;
    text-decoration:underline;
    color: #365967;
    clear:both;
}