header{
	background-color: aliceblue;
	width:800px;
	height:50px;
    text-align: center;
}

nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  width:800px;
  height:50px;
}

li {
  float:left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
}

li a: hover {
  background-color: #214A5B;
}

body {
background-image: linear-gradient(to bottom right, #6CB2CE,#D189A8 );
font-family: "Times New Roman", Times, serif;
background-repeat: no-repeat;
width:1000%; 
height:1000%;
}
#younger{
    width:50px;
    height:300px;
    background-color: #E0F6FF;
    float:left;
}




